<DOCTYPE html>
    <html>
    <head>
        <title>HomePage!</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <h1>People of the Year</h1>
        <form method="post">
            <label name="firstYear">First Year</label>
            <input name="firstYumber" type="number" />
            <label name="secondYear">Second Year</label>
            <input name="secondYear" type="number" />
            <button type="submit">SUBMIT!</button>
        </form>
        <div class="img">
            <img src="https://www.oit101.org/wp-content/uploads/2016/03/time-magazine.jpg" alt="Alternate Text" />
        </div>
    </body>
</html>
</DOCTYPE>